.mainContainer {
    width: 100%;
    height: calc(100vh - 45px);
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}

.mainContainer .mainContainerTop {
    height: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 15px 0;

}
.mainContainer .mainContainerTop .main-card{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   padding: 8px 15px;
   border: 1px solid black;
   border-radius: 5px;
}

.main-card:first-child {
    background-color: #FD9C2B;
}
.main-card:nth-child(2){
    background-color: #DA71FF;
}
.main-card:nth-child(3){
    background-color: #74FB68;
}

/* Product form */
.mainContainer .mainContainerBottom {
    height: 55%;
}

