.mainContainer {
    width: 100%;
    height: calc(100vh - 45px);
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}

.mainContainer .mainContainerTop {
    height: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 15px 0;

}
.mainContainer .mainContainerTop .main-card{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   padding: 8px 15px;
   border: 1px solid black;
   border-radius: 5px;
}

.main-card:first-child {
    background-color: #FD9C2B;
}
.main-card:nth-child(2){
    background-color: #DA71FF;
}
.main-card:nth-child(3){
    background-color: #74FB68;
}

/* Product form */
.mainContainer .mainContainerBottom {
    height: 55%;
}

.mainContainer .mainContainerBottom .product-form{
     width: 420px;
    /* margin-inline: auto;
    margin-block: 2em; */
    border: 1px solid gray;
    padding: 8px 15px;
    box-sizing: border-box;
    border-radius: .5em;
}
.mainContainer .mainContainerBottom .product-form label{
    display: flex;
    font-size: 20px;
    gap: auto;
    flex-direction: column;
}

.mainContainer .mainContainerBottom .product-form .product-form-input{
 margin-bottom: 15px;
}
.mainContainer .mainContainerBottom .product-form .product-form-btn{
    width: 50%;
    height: 40px;
    border-radius: 8px;
    background: #3876F5;
    color: white;
    font-size: 18px; 
}
