menu {
    width: 250px;
    /* background: #19162c; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
    border-radius: .5em;
}

menu img{
    width: 4.4em;
    padding-top: 30px;
    border-radius: 8px;
}
menu .menuItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.2em;
    
}

menu .menuItem  span{
   color:#b1147d;
}

menu ul{
    padding-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 85px;
}

menu ul li {
    list-style: none;
    margin: 20px 0;
    position: relative;
    color: #8c8a95 ;
    width: 100%;
    text-align: center;
}

menu ul li a{
    font: 24px;
    color: #8c8a95;
    text-decoration: none;
    transition: all 0.3s;
}

menu ul li a:before{
    position: absolute;
    content: '';
    top: 5px;
    left: -10px;
    width: 0px;
    height: 20px;
    background: #3876f5;
    border-radius: 50%;
}

menu ul li:hover a::before {
    width: 20px;
    transition:all 0.3s;
}

menu ul li.active a::before{
    color:#3876f5;
    transition :all 0.3s;
}

@media only screen and (max-width : 530px){
    menu{
        min-width: 73px;
        width:73px;
    }
}