menu {
    width: 18%;
    background: #19162c;
    display: flex;
    flex-direction: column;
    align-items: center;
}

menu img{
    width: 5.4em;
    padding-top: 30px;
    border-radius: 8px;
}
menu .menuItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5em;
    
}

menu .menuItem  span{
   color: aliceblue;
}

menu ul{
    padding-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 85px;
}

menu ul li {
    list-style: none;
    margin: 20px 0;
    position: relative;
    color: #8c8a95 ;
    width: 100%;
    text-align: center;
}

menu ul li a{
    font: 24px;
    color: #8c8a95;
    text-decoration: none;
    transition: all 0.3s;
}

menu ul li a:before{
    position: absolute;
    content: '';
    top: 5px;
    left: -10px;
    width: 0px;
    height: 20px;
    background: #b1147d;
    border-radius: 50%;
}

menu ul li:hover a ::before {
    width: 20px;
    transition:all 0.3s;
}

menu ul li.active a::before{
    color: #b1147d;
    transition :all 0.3s;
}