*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.cart-modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 500px;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    padding: 20px;
    overflow-y: auto;

}
.cart-content{
    position: relative;
}

.close-button{
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.cart-item{
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

.cart-item-image{
    width:80px;
    height:80px;
    object-fit: cover;
    margin-right: 10px;
}

.cart-item-details {
    flex-grow: 1;
}

.quantity-controls{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.quality-controls button {
    background-color: #f0f0f0;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
}

.quality-controls span{
    margin:0 10px;
}

.cart-summary{
    margin-top: 20px;
    text-align: right;
}

.cart-summary button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
}